#head{
    background-color: rgb(29, 23, 226);
    background-size: auto;
    background-position-y: top;
}

/*body {/*
    background-color: darkblue;
    background-image: url(test1.jpg);
    background-attachment: fixed;
    background-position-y: top;
    background-repeat: no-repeat;*/
.textt {
    color: rgb(53, 211, 29);
    font-size: medium;
}
.foto{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
.menu {
    text-align: center;
}